:root {
    --red: #DF0000;
    --red_transparent: #df00001A;
    --blue: #0061df;
    --blue_transparent: #0061df1A;
    --border: 2px solid black;
    --border-radius: 10px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #121212;
        --container: #1E1E1E;
        --text: #FFFFFF;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #FFFFFF;
        --container: #F0F0F0;
        --text: #000000;
    }
}

* {
    color: var(--text);
    font-family: 'Arial', sans-serif;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    background: var(--background);
}

input:focus {
    outline: none;
}

