header {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 1em);
    height: 6em;
    padding: 0.5em;
    align-items: center;
}

#text {
    margin: 0 0 0 5em;
}

#stammtisch {
    font-size: 1.5rem;
}

#poker-stats {
    font-size: 4.5rem;
    font-family: "Times New Roman", Times, serif;
    line-height: 4rem;
}

#icon {
    position: relative;
}

#icon-cards {
    display: block;
    position: absolute;
    height: 100%;
    left: 6px;
    top: 3px;
}

#icon-cards .card > * {
    border-radius: 4px !important;
}

#icon-cards div {
    height: 80px;
    position: absolute;
    top: 0;
}

#icon-cards div:first-child {
    transform: rotate(-15deg);
}

#icon-cards div:last-child {
    left: 11px;
}

#account-section {
    display: flex;
    align-items: center;
    border: var(--border);
    border-radius: var(--border-radius);
    height: 70%;
    padding: 0 1em 0 0.5em;
    min-width: max-content;
    width: min-content;
    text-align: right;
    white-space: nowrap;
    position: relative;
    background: var(--container);
}

#account-info {
    display: flex;
    gap: 5%;
    height: 100%;
    width: 100%;
    align-items: center;
}

#account-info img {
    object-fit: cover;
    border: var(--border);
    border-radius: var(--border-radius);
    height: 70%;
    aspect-ratio: 1 / 1;
}

#account-section svg {
    width: 50px;
    transition: all 0.5s ease-in-out;
    margin-left: auto;
}

#account-section svg > path {
    stroke: black;
}

#account-section:hover svg path {
    stroke: black;
}

#account-popup {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: all 0.5s ease-in-out;
    width: 100%;
    border-left: var(--border);
    border-bottom: var(--border);
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border-right: var(--border);
    top: 100%;
    left: calc(0% - 2px);
    z-index: 1;
    background-color: var(--container);
}

#account-popup ul {
    margin: 5%;
    padding: 0;
    text-align: left;
}

#account-popup li {
    list-style: none;
    padding: 10px;
    border-bottom: var(--border);
}

#account-popup li:first-child {
    padding-top: 0;
}

#account-popup li:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

#logout {
    color: var(--red);
}

#account-section {
    transition: border-radius 350ms ease-in-out;
}

#account-section:hover {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    transition: border-radius 350ms ease-in-out;
}

#account-section:hover svg {
    transform: scale(1,-1);
    transition: all 0.5s ease-in-out;
}

#account-section:hover #account-popup {
    opacity: 1;
    visibility: visible;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

#pott-badge {
    height: min-content;
    position: absolute;
    top: 19px;
    right: 105%;
}

#pott-badge > div > span {
    width: max-content;
}

@media only screen and (max-width: 850px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    #account-section {
        height: 4em;
        width: 345px;
        margin-top: 1em;
    }

    #pott-badge {
        top: -110px;
        right: -7px;
    }
}