#card-centerbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5em;
    padding: 2em;
    margin-top: 10%;
}

#card-centerbox .card > img{
    border-radius: 13px;
}

#card-centerbox > a {
    transition: all 500ms;
}

#card-centerbox a:hover {
    scale: 1.09;
    transition: all 500ms;
}

.tilting-card-content > div:first-child {
    height: 25em
}

.tilting-card-content > div > img {
    top: 0;
    left: 0;
}

.tilting-card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);position: relative;
}

.tilting-card-content {
    --perspective: 500px;
    --rotationX: 0;
    --rotationY: 0;
    --angle: 8deg;

    grid-column: 1 / -1;
    grid-row: 1 / -1;

    position: relative;
    display: grid;
    place-content: center;
    text-align: center;
    aspect-ratio: 223 / 324;
    transform:
        perspective(var(--perspective))
        rotateX(var(--rotationX))
        rotateY(var(--rotationY))
    ;
    transition: transform 350ms ease;
}

.mouse-position-tracker {
    position: absolute;
    inset: 0;
    z-index: 2;
}

.mouse-position-tracker:nth-child(1):hover ~ .tilting-card-content {
    --rotationX: var(--angle);
    --rotationY: calc(var(--angle) * -1);
}

.mouse-position-tracker:nth-child(2):hover ~ .tilting-card-content {
    --rotationX: var(--angle);
}

.mouse-position-tracker:nth-child(3):hover ~ .tilting-card-content {
    --rotationX: var(--angle);
    --rotationY: var(--angle);
}

.mouse-position-tracker:nth-child(4):hover ~ .tilting-card-content {
    --rotationY: calc(var(--angle) * -1);
}


.mouse-position-tracker:nth-child(6):hover ~ .tilting-card-content {
    --rotationY: var(--angle);
}

.mouse-position-tracker:nth-child(7):hover ~ .tilting-card-content {
    --rotationX: calc(var(--angle) * -1);
    --rotationY: calc(var(--angle) * -1);
}

.mouse-position-tracker:nth-child(8):hover ~ .tilting-card-content {
    --rotationX: calc(var(--angle) * -1);
}

.mouse-position-tracker:nth-child(9):hover ~ .tilting-card-content {
    --rotationX: calc(var(--angle) * -1);
    --rotationY: var(--angle);
}

/* 1st, 4th, 7th */
.mouse-position-tracker:nth-child(3n - 2) {
    grid-column: 1 / 2;
}

/* 2nd, 5th, 8th */
.mouse-position-tracker:nth-child(3n - 1) {
    grid-column: 2 / 3;
}

/* 3rd, 6th, 9th */
.mouse-position-tracker:nth-child(3n) {
    grid-column: 3 / 4;
}

/* 1 - 3 */
.mouse-position-tracker:nth-child(n + 1):nth-child(-n + 3) {
    grid-row: 1 / 2;
}

/* 4 - 6 */
.mouse-position-tracker:nth-child(n + 4):nth-child(-n + 6) {
    grid-row: 2 / 3;
}

/* 7 - 9 */
.mouse-position-tracker:nth-child(n + 7):nth-child(-n + 9) {
    grid-row: 3 / 4;
}

.name-tag {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 98%;
    left: 0;
    width: 100%;
    height: 50px;
    background: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: -1;
}

.name-tag > span {
    color: white;
    margin-top: 2%;
}

#card-stack, #card-stack > .card,  #card-stack > .card > img{
    position: absolute;
    top: 0;
    left: 0;

    height: 400px;
    aspect-ratio: 223 / 324;

    transition: rotate 350ms ease;
}

#card-stack > div:nth-child(1) {
    left: 5px;
    top: -1px;
    rotate: 1deg;
    z-index: -1;
}

#card-stack > div:nth-child(2) {
    left: 10px;
    top: -2px;
    rotate: 3deg;
    z-index: -2;
}

#card-stack > div:nth-child(3) {
    left: 15px;
    top: -3px;
    rotate: 5deg;
    z-index: -3;
}

.card-link-wrapper:hover #card-stack > div {
    transition: rotate 350ms ease;
}

.card-link-wrapper:hover #card-stack > div:nth-child(1) {
    rotate: 4deg;
}

.card-link-wrapper:hover #card-stack > div:nth-child(2) {
    rotate: 7deg;
}

.card-link-wrapper:hover #card-stack > div:nth-child(3) {
    rotate: 9deg;
}

@media only screen and (max-width: 720px) {
    #card-centerbox {
        margin-top: 15%;
    }

    .tilting-card-content > div:first-child, #card-stack, #card-stack > .card,  #card-stack > .card > img{
        height: 45vw;
    }
}