header {
    width: 100%;
    height: 5.5em;
    background: red;
}

#text {
    margin: 0 0 0 6em;
}

#stammtisch {
    font-size: 1.5rem;
}

#poker-stats {
    font-size: 4.5rem;
    font-family: "Times New Roman", Times, serif;
    line-height: 4rem;
}

#icon-cards {
    display: block;
    position: absolute;
    height: 100%;
    left: 1.5em;
    top: 0;
}

#icon-cards img {
    height: 5em;
    position: absolute;
    top: 5px;
}

#icon-cards img:first-child {
    transform: rotate(-15deg);
}

#icon-cards img:last-child {
    left: 11px;
}