span.message {
    margin: 2em auto;
}

form {
    margin: 2em 2em 0;
}

form > p {
    margin: 0 0 2rem;
    font-size: 1.8rem;
}

#info {
    display: flex;
    gap: 2em;
}

#info > label {
    flex: 1;
}

label {
    display: flex;
}

* > label > input, * > label > select, * > label > textarea {
    width: 100%;
    margin: 1em 0;
    background: var(--background);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 10px;
    resize: none;
}

input:focus, select:focus, textarea:focus {
    outline: none;
}

label[for="notes"] {
    height: 10em;
}

#info > label > input {
    color: var(--placeholder);
    cursor: default;
}

form > button[type="submit"] {
    margin: 1em auto 0;
}

#user-selection {
    margin: 0 0 1em;
    border: var(--border);
    border-radius: var(--border-radius);
    overflow: hidden;
}

#selected {
    min-height: 3em;
    background: var(--background);
    border-bottom: var(--border);
    display: flex;
    align-items: center;
    padding: calc(1em - 7px);
    gap: calc(1em - 7px);
    flex-wrap: wrap;
}

#selected > span {
    margin: 0 0 0 1em;
    color: var(--placeholder);
}

#selected:has(div) > span {
    display: none;
}

#users {
    max-height: 15em;
    overflow-y: auto;
    background: var(--background);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

#users:not(:has(.user)) {
    display: none;
}

.user {
    height: 2em;
    align-items: center;
    cursor: pointer;
    margin: 1em;
    display: flex;
}

.user > div {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 100%;
    flex: 3;
}

#selected .user > span {
    display: none;
}

#users .user > span {
    color: var(--placeholder);
    flex: 1;
    white-space: nowrap;
}

#selected .user {
    padding: 5px;
    border: var(--border);
    border-radius: var(--border-radius);
    transition: all 0.3s ease-in-out;
    margin: 0;
}

#selected .user:hover {
    background: var(--red_transparent);
    border-color: var(--red);
}

#selected .user:hover img {
    border-color: var(--red);
}

#users .user + .user {
    border-top: var(--border);
    padding: 1em 0 0;
}

#users img, #selected img {
    height: 100%;
    aspect-ratio: 1 / 1;
    border: var(--border);
    border-radius: var(--border-radius);
    transition: all 0.3s ease-in-out;
    object-fit: cover;
}

#users .user:hover img {
    border-color: var(--blue);
}