form {
    margin: 2em;
}

form > p {
    margin: 0 0 2rem;
    font-size: 1.8rem;
}

#info {
    display: flex;
    gap: 2em;
}

#info > label {
    flex: 1;
}

label {
    display: flex;
}

* > label > input, * > label > select, * > label > textarea {
    width: 100%;
    margin: 1em 0;
    background: var(--background);
    border: 2px solid black;
    border-radius: var(--border-radius);
    padding: 10px;
    resize: none;
}

input:focus, select:focus, textarea:focus {
    outline: none;
}

label[for="notes"] {
    height: 15em;
}

label[for="user"] {
    height: 10em;
    max-height: 15em;
}


form > button[type="submit"] {
    margin: 1em auto 0;
}

#user-selection {
    max-height: 17em;
    margin: 0 0 1em;
    border: var(--border);
    border-radius: var(--border-radius);
    overflow: hidden;
}

#selected {
    height: 4em;
    background: var(--background);
    border-bottom: var(--border);
    display: flex;
    align-items: center;
}

#selected > span {
    margin: 0 0 0 1em;
    color: var(--placeholder);
}

#selected:has(label) > span {
    display: none;
}

#users {
    max-height: 15em;
    overflow-y: auto;
    background: var(--background);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

#users:not(:has(label)) {
    display: none;
}

#users label, #selected label {
    height: 2em;
    align-items: center;
    justify-content: start;
    gap: 5px;
    cursor: pointer;
    margin: 1em;
}

#selected label {
    margin: calc(1em - 7px) 0 calc(1em - 7px) calc(1em - 7px);
    padding: 5px;
    border: var(--border);
    border-radius: var(--border-radius);
    transition: all 0.3s ease-in-out;
}

#selected label:hover {
    background: var(--red_transparent);
    border-color: var(--red);
}

#selected label:hover img {
    border-color: var(--red);
}

#users label + label {
    border-top: var(--border);
    padding: 1em 0 0;
}

#users input, #selected input {
    display: none;
}

#users img, #selected img {
    height: 100%;
    aspect-ratio: 1 / 1;
    border: var(--border);
    border-radius: var(--border-radius);
    transition: all 0.3s ease-in-out;
}