#container {
    margin: 2em;
    flex-direction: column-reverse;
    gap: 1em;
    display: flex;
}

.game {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.game > div:last-child {
    display: none;
}

.game.expanded > div:last-child {
    display: block;
}

.winner {
    position: relative;
}

.winner > span:first-child {
    white-space: nowrap;
    display: block;
    background: var(--background);
    padding: 10px;
    border: var(--border);
    border-radius: var(--border-radius) var(--border-radius) var(--border-radius) 0;
}

.winner > div {
    position: absolute;
    border: var(--border);
    border-top: none;
    left: 0;
    background: var(--background);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    padding: 0 5px;
    top: calc(100% - 2px);
    height: 12px;
    width: 4em;
}

.winner > div > span {
    color: var(--placeholder);
    font-size: 0.8rem;
    display: block;
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
}

.game > div:first-child {
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.picture-row {
    display: flex;
    flex: 2;
    flex-wrap: wrap;
}

.picture-row > div {
    height: 28px;
    width: 28px;
}

.picture-row > div:last-child {
    width: unset;
    height: 3em;
}

.picture-row > div > img {
    height: calc(3em - 4px);
    aspect-ratio: 1 / 1;
    border-radius: var(--border-radius);
    border: var(--border);
    object-fit: cover;
    outline: 2px solid var(--container);
}

.picture-row + div {
    display: flex;
    align-items: center;
    gap: 2em;
}

.picture-row + div > svg > path {
    transition: all 0.3s ease-in-out;
}

.game:hover .picture-row + div > svg > path {
    fill: var(--red);
}


.winner-input > * {
    height: 3em;
    display: flex;
    overflow: hidden;
    gap: 1em;
}

.winner-input > * > img {
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: var(--border-radius);
    border: var(--border);
    object-fit: cover;
    outline: 2px solid var(--container);
}