h1 {
    text-align: center;
    font-weight: 500;
    margin: 2em 0 1em;
    font-size: 3rem;
}

span.notification {
    margin: 0 auto 2em;
}

form {
    width: 20em;
    margin: 0 auto;
}

label {
    display: flex;
    margin: 0 0 2em;
}

input {
    background: var(--background);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 10px;
    flex: 1;
    height: 22px;
}

form button {
    width: 50%;
    margin: 0 auto 2em;
}

form button[type="submit"] {
	padding: 10px 0px;
}

a {
    display: block;
}