#container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
    gap: 2em;
    margin: 2em;
}

#container > * {
    height: 200px;
}

#match-history {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

#match-history > p, #max-win > p {
    font-size: 1.8rem;
    margin: 0;
}

#match-history > #games {
    gap: 2em;
    display: flex;
    flex: 1;
}

#match-history > #games > * {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.win, .lose, .player-amount, #total-payout {
    border: var(--border);
    padding: 10px;
    border-radius: var(--border-radius);
    text-align: center;
}

.win, #total-payout {
    border-color: var(--blue);
    color: var(--blue);
    background: var(--blue_transparent);
}

.lose {
    border-color: var(--red);
    color: var(--red);
    background: var(--red_transparent);
}

.player-amount + span {
    color: var(--placeholder);
    text-align: center;
    font-weight: 600;
}

.total