<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link th:href="@{/css/default.css}" rel="stylesheet"/>
    <link th:href="@{/css/account.css}" rel="stylesheet"/>
    <link th:href="@{/css/header.css}" rel="stylesheet"/>
    <link th:href="@{/css/components/buttons.css}" rel="stylesheet"/>
    <link th:href="@{/css/components/notifications.css}" rel="stylesheet"/>
    <link th:href="@{/css/components/badges.css}" rel="stylesheet"/>
    <link th:href="@{/css/components/container.css}" rel="stylesheet"/>
    <link th:href="@{/css/components/card.css}" rel="stylesheet"/>
    <link th:href="@{/css/components/badges.css}" rel="stylesheet"/>
    <link rel="icon" type="image/png" th:href="@{/assets/favicon/favicon.png}">
</head>
<body>
    <header th:replace="~{header.html :: header}"></header>
    <span class="notification"></span>
    <form id="account-form" class="container">
        <p>Account</p>
        <div id="first-bar">
            <div id="profile">
                <label for="profile-image-selector"></label>
                <input type="file" accept="image/*" id="profile-image-selector">
                <img id="profile-image" th:src="${user.getProfilePictureURL()}" alt="">
                <div id="guest-badge" class="badge red-to-violet" th:if="${user.getRole().name().equals('GUEST')}">
                    <div>
                        <span>Gast</span>
                    </div>
                </div>
            </div>
            <label>
                <input autocomplete="name" th:data-target-id="${user.getId()}" id="name" type="text" pattern="\D{2,}"
                       title="Keine Zahlen erlaubt." placeholder="Vollständiger Name" th:value="${user.getUsername()}"
                       required>
            </label>
        </div>
        <label id="password">
            <input autocomplete="current-password" type="password" th:if="${account.getUsername() != user.getUsername()}"
                   th:placeholder="${'Passwort von ' + account.getUsername()}" required>
            <input autocomplete="current-password" type="password" th:if="${account.getUsername() == user.getUsername()}" placeholder="Passwort"
                   required>
        </label>
        <label><input autocomplete="new-password" id="new-password" type="password" placeholder="Neues Passwort"></label>
        <div id="password-weakness">
            <div id="bar"></div>
        </div>
        <label><input autocomplete="email" id="email" th:value="${user.getEmail()}" type="email" placeholder="E-Mail"></label>
        <div id="last-bar">
            <label id="buy-in">
                <input th:if="${user.getRole().name().equals('GUEST')}" min="4" max="5" th:value="${user.getBuyIn()}"
                       type="number" placeholder="Einsatz" required>
                <input th:if="${!user.getRole().name().equals('GUEST')}" min="2" max="5" th:value="${user.getBuyIn()}"
                       type="number" placeholder="Einsatz" required>
                <span>€</span>
            </label>
            <span>
                Einsätze können nicht zurückgefordert werden. Gäste zahlen das doppelte vom Mindesteinsatz, dieser
                beträgt 2 €. Der maximale Einsatz beträgt 5 €.
            </span>
        </div>
        <label th:if="${account.getRole().name().equals('ADMIN')}">
            <select id="role">
                <option th:if="${user.getRole().name().equals('GUEST')}" value="GUEST" selected>Gast</option>
                <option th:if="${!user.getRole().name().equals('GUEST')}" value="GUEST">Gast</option>
                <option th:if="${user.getRole().name().equals('MEMBER')}" value="MEMBER" selected>Mitglied</option>
                <option th:if="${!user.getRole().name().equals('MEMBER')}" value="MEMBER">Mitglied</option>
                <option th:if="${user.getRole().name().equals('ADMIN')}" value="ADMIN" selected>Administrator</option>
                <option th:if="${!user.getRole().name().equals('ADMIN')}" value="ADMIN">Administrator</option>
            </select>
        </label>
        <button class="button filled red" type="submit">Speichern</button>
    </form>
<script type="module" th:src="@{/js/account.js}"></script>
</body>
</html>