<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rechnung erstellen - PokerStats</title>
    <link rel="stylesheet" th:href="@{/css/default.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/components/buttons.css}"/>
    <link rel="stylesheet" th:href="@{/css/create-invoice.css}"/>
    <link rel="stylesheet" th:href="@{/css/components/container.css}">
    <link rel="stylesheet" th:href="@{/css/components/notifications.css}"/>
    <link rel="icon" type="image/png" th:href="@{/assets/favicon/favicon.png}">
    <link rel="stylesheet" th:href="@{/css/components/card.css}" />
    <link rel="stylesheet" th:href="@{/css/components/badges.css}" />
</head>
<body>
<header th:replace="~{header.html :: header}"></header>
<h1>Rechnung</h1>
<span class="notification"></span>
<form id="invoice-form">
    <label><input id="title" type="text" placeholder="Titel" maxlength="32" required></label>
    <label><input id="amount" type="number" step="0.01" min="0" placeholder="Höhe der Rechnung" required></label>
    <label><input id="due" type="date" placeholder="Fälligkeitsdatum" required></label>
    <label><input id="interest" type="number" step="0.01" min="0" placeholder="Zinsen" required></label>
    <label><input id="interestIntervalDays" type="number" min="1" placeholder="Interval der Zinsen in Wochen" required></label>

    <div id="user-selection">
        <div id="selected">
            <span>Ausgewählte Nutzer für die Rechnung</span>
        </div>
        <div id="users">
            <label th:each="user : ${users}">
                <input type="checkbox">
                <img th:src="${user.getProfilePictureURL()}" alt="">
                <span th:text="${user.getUsername()}"></span>
                <span style="display: none" th:text="${user.getBuyIn()}"></span>
                <span class="email" style="display: none" th:text="${user.getEmail()}"></span>
            </label>
        </div>
    </div>

    <button class="button filled red" type="submit">Rechnung erstellen</button>
</form>
<script type="module" th:src="@{/js/create-invoice.js}"></script>
</body>
</html>