<header>
    <a href="/home">
        <div id="icon">
            <div id="text">
                <span id="stammtisch">Stammtisch's</span>
                <br>
                <span id="poker-stats">PokerStats</span>
            </div>
            <div id="icon-cards">
                <div class="card">
                    <img src="" alt="">
                    <img class="background" th:src="@{/assets/background.svg}" alt="">
                </div>
                <div class="card">
                    <img src="" alt="">
                    <img class="background" th:src="@{/assets/background.svg}" alt="">
                </div>
            </div>
        </div>
    </a>

    <div id="account-section">
        <a href="/games/poker/pot">
            <div id="pott-badge" class="badge red-to-orange">
                <div>
                    <!--/*@thymesVar id="pot" type="double"*/-->
                    <span th:text="${#numbers.formatCurrency(pot).replace('¤', '€')} + ' im Pott'"></span>
                </div>
            </div>
        </a>
        <div id="account-info">
            <!--/*@thymesVar id="account" type="de.stammtisch.pokerstats.models.User"*/-->
            <img id="profile-picture" th:src="${account.getProfilePictureURL()}" alt="">
            <span th:text="${account.getUsername()}"></span>
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="10" viewBox="0 0 26 10" fill="none">
                <path d="M0.999999 1L10 7.75C11.7778 9.08333 14.2222 9.08333 16 7.75L25 1"/>
            </svg>
            <div id="account-popup">
                <ul>
                    <li><a href="/statistics">Deine Statistiken</a></li>
                    <li><a href="/account">Account</a></li>
                    <li th:if="${account.getRole().name().equals('ADMIN')}"><a href="/users">User Bearbeiten</a></li>
                    <li><a id="logout" href="/login?logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script type="module" th:src="@{/js/header.js}"></script>
</header>