<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home - PokerStats</title>
    <link th:href="@{/css/default.css}" rel="stylesheet"/>
    <link th:href="@{/css/components/badges.css}" rel="stylesheet"/>
    <link th:href="@{/css/components/card.css}" rel="stylesheet"/>
    <link th:href="@{/css/header.css}" rel="stylesheet"/>
    <link th:href="@{/css/home.css}" rel="stylesheet"/>
</head>

<body>
    <header th:replace="~{header.html :: header}"></header>

    <div id="card-centerbox">
        <a href="#">
            <div id="new-stammtisch" class="card">
                <img th:src="@{/assets/ace_of_spades.svg}" alt="">
                <img class="background" th:src="@{/assets/background.svg}" alt="">
            </div>
        </a>
        <a href="/new-poker-game">
            <div id="new-poker-round" class="card">
                <img th:src="@{/assets/king_of_hearts.svg}" alt="">
                <img class="background" th:src="@{/assets/background.svg}" alt="">
            </div>
        </a>
        <a href="/statistics">
            <div id="statistics" class="card">
                <img th:src="@{/assets/8_of_clubs.svg}" alt="">
                <img class="background" th:src="@{/assets/background.svg}" alt="">
            </div>
        </a>
        <a href="#">
            <div id="empty" class="card">
                <img th:src="@{/assets/red_joker.svg}" alt="">
                <img class="background" th:src="@{/assets/background.svg}" alt="">
            </div>
        </a>
    </div>
</body>
</html>