<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Willkommen - PokerStats</title>
    <link th:href="@{/css/default.css}" rel="stylesheet"/>
    <link th:href="@{/css/buttons.css}" rel="stylesheet"/>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
    <link th:href="@{/css/card.css}" rel="stylesheet"/>
</head>

<body>
    <div id="invisible-center-box">
        <div id="icon">
            <div id="text">
                <span id="stammtisch">Stammtisch's</span>
                <br>
                <span id="poker-stats">PokerStats</span>
            </div>
            <div id="icon-cards">
                <img src="" alt="">
                <img src="" alt="">
            </div>
        </div>

        <div id="table">
            <div class="card flipped">
                <img src="" alt="">
                <img class="background" th:src="@{/assets/background.svg}" alt="">
            </div>
            <div class="card flipped">
                <img src="" alt="">
                <img class="background" th:src="@{/assets/background.svg}" alt="">
            </div>
            <div class="card flipped">
                <img src="" alt="">
                <img class="background" th:src="@{/assets/background.svg}" alt="">
            </div>
            <div class="card flipped">
                <img src="" alt="">
                <img class="background" th:src="@{/assets/background.svg}" alt="">
            </div>
            <div class="card flipped">
                <img src="" alt="">
                <img class="background" th:src="@{/assets/background.svg}" alt="">
            </div>
        </div>
        <span id="combination"></span>
        <div th:if="${user == null}" id="buttons-in-row">
            <a href="/login"><button class="button filled red" type="button">Anmelden</button></a>
            <a href="/register"><button class="button red" type="button">Registrieren</button></a>
        </div>
        <div th:if="${user != null}" id="welcome-back">
            <div>
                <span id="welcome">Willkommen zurück,</span>
                <div>
                    <img th:src="${user.getProfilePictureURL()}" alt="">
                    <span th:text="${user.getUsername()}"></span>
                </div>
            </div>
            <a href="/home"><button class="button filled red" type="button">Startseite</button></a>
        </div>
        <img id="king" th:src="@{/assets/rotated/king_of_clubs_index.png}" alt="">
        <img id="queen" th:src="@{/assets/rotated/queen_of_hearts_index.png}" alt="">
        <img id="four" th:src="@{/assets/rotated/four_of_diamonds.png}" alt="">
        <img id="ace" th:src="@{/assets/rotated/ace_of_spades_index.png}" alt="">
    </div>
    <script type="module" th:src="@{/js/index.js}"></script>
</body>
</html>