<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/css/default.css}" rel="stylesheet"/>
    <link th:href="@{/css/buttons.css}" rel="stylesheet"/>
    <link th:href="@{/css/login.css}" rel="stylesheet"/>
    <link th:href="@{/css/messages.css}" rel="stylesheet"/>
</head>
<body>
    <h1>Login</h1>
    <span class="message"></span>
    <form id="login-form">
        <label><input id="username" type="text" placeholder="Vollständiger Name" required></label>
        <label><input id="password" type="password" placeholder="Passwort" required></label>
        <button class="button filled red" type="submit">Login</button>
        <a href="/register">Noch nicht registriert?</a>
    </form>
    <script type="module" th:src="@{/js/login.js}"></script>
</body>
</html>