<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Meine Rechnungen - PokerStats</title>
<link rel="stylesheet" th:href="@{/css/default.css}">
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/components/buttons.css}">
<link rel="stylesheet" th:href="@{/css/components/notifications.css}">
<link rel="stylesheet" th:href="@{/css/components/container.css}">
<link rel="stylesheet" th:href="@{/css/components/card.css}" />
<link rel="stylesheet" th:href="@{/css/components/badges.css}" />
<link rel="stylesheet" th:href="@{/css/my-invoices.css}">
<link rel="icon" type="image/png"
	th:href="@{/assets/favicon/favicon.png}">
</head>
<body>
	<header th:replace="~{header.html :: header}"></header>
	<span class="notification"></span>

	<form class="container" id="my-invoices">
		<p>Meine Rechnungen</p>
		<div id="invoice-selection">
			<div id="selected">
				<span>Zu zahlende Rechnungen:</span>
				<div class="labels">
					<span>Titel</span>
					<span>Gläubiger</span>
					<span>Fällig bis</span> 
					<span>Betrag</span>
				</div>
			</div>
			<div id="pendingInvoices" th:each="invoice : ${creditorInvoices}">
				<div class="invoice">
					<span th:text="${invoice.getTitle()}"></span>
					<span th:text="${invoice.getCreditor().getUsername()}"></span>
					<span th:text="${#dates.format(invoice.getDue(), 'dd.MM.yyyy')}"></span>
					<span th:text="${#numbers.formatDecimal(invoice.getAmount(), 1, 2, 'COMMA') + '€'}"></span>
				</div>
			</div>
		</div>

		<div id="invoice-selection">
			<div id="selected">
				<span>Aufgegebene Rechnungen:</span>
				<div class="labels">
					<span>Titel</span>
					<span>Schuldner</span>
					<span>Fällig bis</span> 
					<span>Betrag</span>
				</div>
			</div>
			<div id="pendingInvoices" th:each="invoice : ${debtorInvoices}">
				<div class="invoice">
					<span th:text="${invoice.getTitle()}"></span>
					<span th:text="${invoice.getCreditor().getUsername()}"></span>
					<span th:text="${#dates.format(invoice.getDue(), 'dd.MM.yyyy')}"></span>
					<span th:text="${#numbers.formatDecimal(invoice.getAmount(), 1, 2, 'COMMA') + '€'}"></span>
				</div>
			</div>
		</div>

		<button class="button red filled" type="submit">Zurück</button>
	</form>
	<script type="module" th:src="@{/js/my-invoices.js}"></script>
</body>
</html>