<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Neues Pokerspiel - PokerStats</title>
    <link rel="stylesheet" th:href="@{/css/default.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/components/buttons.css}">
    <link rel="stylesheet" th:href="@{/css/components/messages.css}">
    <link rel="stylesheet" th:href="@{/css/components/container.css}">
    <link th:href="@{/css/components/card.css}" rel="stylesheet"/>
    <link th:href="@{/css/components/badges.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/new-poker-game.css}">
</head>
<body>
    <header th:replace="~{header.html :: header}"></header>
    <span class="message"></span>
    <form class="container" id="new-poker-game-form">
        <p>Neue Pokerrunde</p>
        <div id="user-selection">
            <div id="selected">
                <span>Spieler auswählen</span>
            </div>
            <div id="users">
                <div class="user" th:each="user : ${users}">
                    <div>
                        <img th:src="${user.getProfilePictureURL()}" alt="">
                        <span th:text="${user.getUsername()}"></span>
                    </div>
                    <span th:data-buy-in="${user.getBuyIn()}" th:text="'Einsatz: ' + ${user.getBuyIn()} + ' €'"></span>
                </div>
            </div>
        </div>

        <label for="notes">
            <textarea id="notes" maxlength="4096" placeholder="Notizen"></textarea>
        </label>

        <div id="info">
            <label>
                <input th:data-pot="${pot}" id="pot"
                       th:value="${#numbers.formatCurrency(pot).replace('¤', '€')} + ' im Pot'" readonly type="text">
            </label>
            <label>
                <input th:value="${#numbers.formatCurrency(pot / 2).replace('¤', '€') + ' für den Gewinner'}"
                       id="payout" readonly type="text">
            </label>
        </div>
        <button class="button red filled" type="submit">Starten</button>
    </form>
    <script type="module" th:src="@{/js/new-poker-game.js}"></script>
</body>
</html>