<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Passwort zurücksetzen - PokerStats</title>
    <link th:href="@{/css/default.css}" rel="stylesheet"/>
    <link th:href="@{/css/components/buttons.css}" rel="stylesheet"/>
    <link th:href="@{/css/register.css}" rel="stylesheet"/>
    <link th:href="@{/css/components/notifications.css}" rel="stylesheet"/>
    <link th:href="@{/css/components/container.css}" rel="stylesheet"/>
    <link th:href="@{/css/password-reset.css}" rel="stylesheet"/>
    <link rel="icon" type="image/png" th:href="@{/assets/favicon/favicon.png}">
</head>
<body>
    <div th:data-token="${confirmation}" id="confirmation"></div>
    <h1>Passwort zurücksetzen</h1>
    <span class="notification"></span>
    <form class="container">
        <label><input autocomplete="new-password" id="password" type="password" placeholder="Passwort" required></label>
        <div id="password-weakness">
            <div id="bar"></div>
        </div>
        <label>
            <input autocomplete="new-password" id="password-confirm" type="password" placeholder="Passwort wiederholen"
                   required>
        </label>
        <button class="button filled red" type="submit">Zurücksetzen</button>
    </form>
    <script type="module" th:src="@{/js/password-reset.js}"></script>
</body>
</html>