<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Einsatz Statistik</title>
    <script type="module" th:src="@{/webjars/chartjs/4.1.2/dist/chart.umd.js}"></script>
    <link th:href="@{/css/pot.css}" rel="stylesheet">
    <link th:href="@{/css/default.css}" rel="stylesheet">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/components/card.css}" rel="stylesheet">
    <link th:href="@{/css/components/badges.css}" rel="stylesheet">
    <link th:href="@{/css/components/container.css}" rel="stylesheet">
    <link th:href="@{/css/components/notifications.css}" rel="stylesheet">
    <link rel="icon" type="image/png" th:href="@{/assets/favicon/favicon.png}">
</head>
<body>
<header th:replace="~{header.html :: header}"></header>
    <div id="container">
        <div class="container">
            <p>Spielverläufe</p>
            <span class="notification"></span>
            <canvas id="history"></canvas>
        </div>
        <div class="container">
            <span class="notification"></span>
            <canvas id="best-players"></canvas>
        </div>
        <div class="container">
            <span class="notification"></span>
            <canvas id="top-profit"></canvas>
        </div>
    </div>
    <script th:src="@{/js/pot.js}" type="module"></script>
</body>
</html>