<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrieren - PokerStats</title>
    <link th:href="@{/css/default.css}" rel="stylesheet"/>
    <link th:href="@{/css/components/buttons.css}" rel="stylesheet"/>
    <link th:href="@{/css/register.css}" rel="stylesheet"/>
    <link th:href="@{/css/components/notifications.css}" rel="stylesheet"/>
    <link th:href="@{/css/components/container.css}" rel="stylesheet"/>
    <link rel="icon" type="image/png" th:href="@{/assets/favicon/favicon.png}">
</head>
<body>
    <h1>Registrieren</h1>
    <span class="notification"></span>
    <form class="container">
        <div>
            <div id="picture">
                <svg id="img-example" xmlns="http://www.w3.org/2000/svg" width="41" height="54" viewBox="0 0 41 45">
                    <circle cx="20.5" cy="12.5" r="12.5"/>
                    <path d="M19.6644 19.2707C20.0595 18.6699 20.9405 18.6699 21.3356 19.2707L37.2347 43.4506C37.672 44.1155 37.195 45 36.3992 45H4.60082C3.805 45 3.32804 44.1155 3.76527 43.4506L19.6644 19.2707Z"/>
                </svg>
                <img id="image-preview" src="" alt="">
                <input required id="profile-image-selector" type="file" accept="image/*">
            </div>
            <label>
                <input id="name" pattern="\D{2,}" title="Keine Zahlen erlaubt."
                       type="text" placeholder="Vollständiger Name" required autocomplete="name">
            </label>
        </div>
        <label><input autocomplete="new-password" id="password" type="password" placeholder="Passwort" required></label>
        <div id="password-weakness">
            <div id="bar"></div>
        </div>
        <label>
            <input autocomplete="new-password" id="password-confirm" type="password" placeholder="Passwort wiederholen"
                   required>
        </label>
        <label><input autocomplete="email" id="email" type="email" placeholder="E-Mail" required></label>
        <button class="button filled red" type="submit">Registrieren</button>
        <a href="/login" rel="noreferrer">Bereits registriert?</a>
    </form>
    <script type="module" th:src="@{/js/register.js}"></script>
</body>
</html>