<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Neuer Best&aumltigungslink - PokerStats</title>
    <link th:href="@{/css/default.css}" rel="stylesheet"/>
    <link th:href="@{/css/components/buttons.css}" rel="stylesheet"/>
    <link th:href="@{/css/request-confirmation.css}" rel="stylesheet"/>
    <link th:href="@{/css/components/notifications.css}" rel="stylesheet"/>
    <link th:href="@{/css/components/container.css}" rel="stylesheet"/>
	<link rel="icon" type="image/png" th:href="@{/assets/favicon/favicon.png}">
</head>
<body>
	<h1>Best&aumltigungslink anfordern</h1>
	<span class="notification"></span>
	<form id="newConfirmation-form" class="container">
	    <label><input autocomplete="name" id="name" type="text" placeholder="Vollständiger Name" required></label>
	    <button class="button filled red" type="submit">Neuer Best&aumltigungslink</button>
	    <a href="/login" rel="noreferrer">Bereits best&aumltigt?</a>
	</form>
	<script type="module" th:src="@{/js/request-confirmation.js}"></script>
	</body>
</html>