<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Passwort zur&uumlcksetzen</title>
    <link th:href="@{/css/default.css}" rel="stylesheet"/>
    <link th:href="@{/css/components/buttons.css}" rel="stylesheet"/>
    <link th:href="@{/css/requestPasswordReset.css}" rel="stylesheet"/>
    <link th:href="@{/css/components/messages.css}" rel="stylesheet"/>
    <link th:href="@{/css/components/container.css}" rel="stylesheet"/>
</head>
<body>
	<h1>Passwort zur&uumlcksetzen</h1>
	<span class="message"></span>
	<form id="resetPassword-form" class="container">
	    <label><input autocomplete="name" id="name" type="text" placeholder="Vollständiger Name" required></label>
	    <button class="button filled red" type="submit">Passwort zur&uumlcksetzen</button>
	    <a href="/login" rel="noreferrer">Ans Passwort erinnert?</a>
	</form>
	<script type="module" th:src="@{/js/requestPasswordReset.js}"></script>
	</body>
</html>