<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deine Statistiken - PokerStats</title>
    <link th:href="@{/css/default.css}" rel="stylesheet"/>
    <link th:href="@{/css/statistics.css}" rel="stylesheet"/>
    <link th:href="@{/css/header.css}" rel="stylesheet"/>
    <link th:href="@{/css/components/card.css}" rel="stylesheet"/>
    <link th:href="@{/css/components/badges.css}" rel="stylesheet"/>
    <link th:href="@{/css/components/container.css}" rel="stylesheet"/>
    <link th:href="@{/css/components/notifications.css}" rel="stylesheet"/>
    <link rel="icon" type="image/png" th:href="@{/assets/favicon/favicon.png}">
    <script type="module" th:src="@{/webjars/chartjs/4.1.2/dist/chart.umd.js}"></script>
</head>
<body>
    <header th:replace="~{header.html :: header}"></header>
    <div id="container">
        <div class="container">
            <span class="notification"></span>
            <canvas th:data-user-id="${account.getId()}" id="win-rate"></canvas>
        </div>
        <div class="container" id="match-history">
            <p>Verlauf</p>
            <div id="games">
                <div th:each="game : ${latestGames}">
                    <div th:data-id="${game.getId()}" th:if="${game.getWinner().equals(account)}" class="win"></div>
                    <div th:if="${!game.getWinner().equals(account)}" class="lose"
                         th:text="'- ' + ${#numbers.formatCurrency(game.getBuyInForUser(account)).replace('¤', '€')}">
                    </div>
                    <div class="player-amount" th:text="${game.getUsers().size() + ' Spieler'}"></div>
                    <span th:text="${game.getFormattedDate('dd.MM.yyyy')}"></span>
                </div>
            </div>
        </div>
        <div class="container" id="max-win">
            <p>Auszahlung</p>
            <div id="total-payout"></div>
            <p>Eingesetz</p>
            <div th:text="${totalBuyIn} + ' €'" id="total-buyIn"></div>
        </div>
        <div class="container">
            <canvas id="profit"></canvas>
        </div>
        <div class="container">
            <span class="notification"></span>
            <canvas></canvas>
        </div>
        <div class="container">
            <span class="notification"></span>
            <canvas></canvas>
        </div>
    </div>
    <script th:src="@{/js/statistics.js}" type="module"></script>
</body>
</html>