.badge {
    padding: 2px;
    background: linear-gradient(90deg, rgba(223,0,0,1) 0%, rgba(98,0,223,1) 100%);
    border-radius: var(--border-radius);
}

.badge > div {
    border-radius: var(--border-radius);
    background: var(--background);
    display: flex;
}

.badge > div > span {
    border-radius: var(--border-radius);
    padding: 3px;
    background: linear-gradient(90deg, rgba(223,0,0,1) 0%, rgba(98,0,223,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}