/*
<div class="card flipped">
    <img src="" alt="">
    <img class="background" th:src="@{/assets/background.svg}" alt="">
</div>
 */

.card {
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    aspect-ratio: 167 / 242;
}

.card * {
    position: absolute;
    backface-visibility: hidden;
    border: 1px solid black;
    border-radius: 7px;
    height: 100%;
    width: 100%;
}

.card.flipped {
    transform: rotateY(180deg);
}

.card .background {
    transform: rotateY(180deg);
}